<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/signInPage.css">
    <title>Sign Up</title>
</head>
<body>
<div class="page">
    <div class="sign-upBox">
    <h1>Create a new account</h1>

    <form action="/auth/sign-up" method="POST">
        Username:
        <input type="text" name="username" required/>

        Password:
        <input type="password" name="password" minlength="6" required/>

        Confirm Password:
        <input type="password" name="confirmPassword" minlength="6" required/>
        <button type="submit">Sign Up</button>
    </form>
    <a href="/auth/sign-in">Already have an account? Sign-In now!!!</a>
    </div>

    <div class="picture">
        <img src="/images/IMG_5960.jpeg" alt="Hefty Smurf" />
    </div>

</div>
</body>
</html>