<link rel="stylesheet" href="/stylesheets/style.css">
<nav>
    <div class="logo">GYM LOGGER</div>
<div class="links">
  <% if (user) { %>
    <a href="/workouts">All Workouts</a>
    <a href="/workouts/new">Add a Workout</a>
    <a href="/">Home</a>
<form action="/auth/sign-out?_method=DELETE" method="POST">
  <button type="submit">Sign Out</button>
</form>  <% } else { %>
    <a href="/auth/sign-in" class="signIn">Sign In</a>
    <a href="/auth/sign-up" class="signUp">Sign Up</a>
  <% } %>
</div>
</nav>

<hr>