<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>
<body>
    <h1>Are you sure you want to delete the workout?</h1>
    
    <form action="/workouts/<%= foundWorkout._id %>?_method=DELETE" method="POST">
        <button type="submit">YES</button>
    </form>

    <a href="/workouts/<%= foundWorkout._id %>">No</a>

</body>
</html