<h1>My Workouts</h1>
<ul>
  <% workoutData.forEach(workout => { %>
    <li>
      <a href="/workouts/<%= workout._id %>">
        <%= workout.workoutType %>
        -
        <%= workout.date.toLocaleDateString('en-GB', { day: 'numeric', month: 'numeric', year: '2-digit' }) %>   
    </a>
    </li>
  <% }) %>
</ul>