body {
    background-color: antiquewhite;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: aliceblue;

}

.box {
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    background-color: #1f3b57;
}

.click {
    display: flex;
    gap: 65px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
}

button:hover , a:hover {
    cursor: pointer;
    background-color: rgb(255, 194, 81);
}

a {
    width: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: orange;
    text-decoration: none;
    color: white;
}

h3{
    color:rgba(255, 255, 255, 0.7);
    text-align: center;
}