body {
    background-color: antiquewhite;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-self: center;
}

.page {
    display: flex;
    background-color: white;
    border-radius: 30px;
    width: 1100px;
    height: 600px;
}

.sign-inBox {
    width: 400px;
    padding: 40px;
    background-color: #1f3b57;
    border-radius: 20px 0 0 20px;
    text-align: center;
    color: wheat;
}

h1 {
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self:flex-end;
    gap: 10px;
    text-align: start;
}

a {
    text-decoration: none;
    display: block;
    margin: 15px;
    color: lightgray;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 166, 0);
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 194, 81);
}

input {
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.picture {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 80%;
    max-height: 90%;
    object-fit: contain;
}