body {
  margin: 0;
  font-family: sans-serif;
  background-color: antiquewhite;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h1 {
  color: #1f3b57;
}

.btn {
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background-color: orange;
  color: white;
}

.empty {
  color: #555;
  font-size: 18px;
}

.workout-list {
  list-style: none;
  padding: 0;
}

.workout-card {
  margin-bottom: 15px;
}

.card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  padding: 20px;
  border-radius: 15px;

  text-decoration: none;
  color: inherit;

  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: 0.2s;
}

.card-link:hover {
  transform: translateY(-3px);
}

.card-left h2 {
  margin: 0;
  color: #1f3b57;
}

.card-left p {
  margin: 5px 0 0;
  color: #555;
}

.card-right {
  font-size: 20px;
  color: #999;
}