<title>New Exercise</title>
<h1>Exercises</h1>

<form action="/workouts/<%= workout._id %>/exercises" method="POST">
    <label>Exercise Name:</label>
    <input type="text" name="exerciseName" minlength="3" required>
    <label>Weight KG:</label>
    <input type="number" name="weight" min="0" required>

    <label>#Sets:</label>
    <input type="number" name="sets" min="0" required>

    <label>#Reps</label>
    <input type="number" name="reps" min="0" required>

    <button type="submit">Add Exercise</button>

</form>