<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/newForm.css">
    <title>New Exercise</title>
</head>
<body>
<div class="box">
    <form action="/workouts/<%= workout._id %>/exercises" method="POST" class="formBox">

        <h1>Add Exercise</h1>

        <div class="type">
            <label>Exercise Name:</label>
            <input type="text" name="exerciseName" minlength="3" required>
        </div>

        <div class="type">
            <label>Weight (KG):</label>
            <input type="number" name="weight" min="0" required>
        </div>

        <div class="type">
            <label>#Sets:</label>
            <input type="number" name="sets" min="0" required>
        </div>

        <div class="type">
            <label>#Reps:</label>
            <input type="number" name="reps" min="0" required>
        </div>

        <button type="submit">Add Exercise</button>

    </form>
</div>
</body>
</html>